<!-- Template for editing the user profile -->
<form hx-post="/api/profile" hx-ext="json-enc" hx-trigger="submit">
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" value="{{ name }}" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="sex" class="form-label">Sex:</label>
        <select id="sex" name="sex" class="form-select" required>
            <option value="Male" {% if sex == "Male" %}selected{% endif %}>Male</option>
            <option value="Female" {% if sex == "Female" %}selected{% endif %}>Female</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="age" class="form-label">Age:</label>
        <input type="number" id="age" name="age" value="{{ age }}" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="room" class="form-label">Patient Room:</label>
        <input type="text" id="room" name="room" value="{{ room }}" class="form-control" required>
    </div>

    <div class="mb-3">
        <div class="form-check">
            <input type="checkbox" id="has_cancer" name="has_cancer" class="form-check-input" {% if has_cancer %}checked{% endif %}>
            <label for="has_cancer" class="form-check-label">Has medical diagnosis of lung cancer</label>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check">
            <input type="checkbox" id="hospitalized" name="hospitalized" class="form-check-input" {% if hospitalized %}checked{% endif %}>
            <label for="hospitalized" class="form-check-label">Hospitalized</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" id="extendProfile" class="btn btn-secondary">Add extra symptons for lung cancer risk estimation</button>

    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <div id="extendedQuestions" style="display: none;"></div>
        </div>
        {% if cancer_risk %}
        <div class="col">
          <div class="blinking">
            <h1>HIGH RISK OF LUNG CANCER!</h1>
          </div>
          <div>
            <div class="gauge" style="width: 400px; --rotation:{{ (cancer_risk_value * 180) | round(2) }}deg; --color:#ff4444; --background:#e9ecef;">
                <div class="percentage"></div>
                <div class="mask"></div>
                <span class="value">{{ (cancer_risk_value * 100) | round(2) }}%</span>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>


</form>

<script>
  // Extend profile with more questions
  var extendedQuestions = `
            {% for sympton in symptons %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="{{ sympton }}" name="{{ sympton }}" {% if symptons[sympton] %}checked{% endif %}>
                    <label class="form-check-label" for="{{ sympton }}">{{ sympton.replace('_', ' ').capitalize() }}</label>
                </div>
            {% endfor %}
            `;
  var symptonsNames = [
      {% for sympton in symptons %}
      "{{ sympton }}",
      {% endfor %}
  ]
  addExtendedQuestions(extendedQuestions, symptonsNames{%if cancer_risk %}, true{% endif %})
</script>
